<!DOCTYPE html>
<html>
<head>
    <!-- META -->
    <title>Marmitech</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="" />
    <!-- CSS -->
	<strong><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/CSSForAll.css') }}"></strong>
	<strong><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/CSSForAll.css') }}"></strong>
</head>

<body id="body">
  <!--Barra de Navegação-->
  <header>
    <nav>
      <ul>
          <li><a href="/">Início</a></li>
          <li>
          <a href="#"> Cadastro <span class="caret"></span></a>
            <div>
                <ul>
                    <li><a href="/cadastro">Usuario</a></li>
                    <li><a href="/cadastrovend">Vendedor</a></li>
                </ul>
            </div>
          </li>
          <li><a href="/about"> Sobre</a></li>
          <li><a href="/ajuda">Ajuda</a></li>
          <!--Login-->
       <section class="loginform cf">
        <form name="login" action="#" method="POST" accept-charset="utf-8">
        <ul style="width:20;height:10px;margin-left:700px;margin-top:-50px;">
          <li><label for="usermail">Email</label>
          <input type="email" name="usermail" placeholder="seunome@email.com" required></li>
          <li><label for="password">Senha</label>
          <input type="password" name="password" placeholder="senha" required></li>
          <li>
          <input type="submit" value="Login"></li>
         </ul>
        </form>
       </section>
      <!--Fechando a Nav Bar-->
      </ul>
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Rápido e Fácil</h1>
  </div>
    </nav>
   </header>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<body>
<!-- Header -->
  

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img href="https://imgbb.com/" class="w3-image" src="https://image.ibb.co/evDvFv/images.jpg" alt="Table Setting" width="800" height="1080">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About</h1><br>
      <h5 class="w3-center">1º Semestre</h5>
      <p class="w3-large">Alunos do primeiro semestre do curso de engenharia no Insper.
      No nosso projeto final de Design de Software tivemos a ideia de trabalhar com um site, logo esse site seria o <span class="w3-tag w3-light-grey">MARMITECH</span>.</p>
      <p class="w3-large">Nasceu a partir da necessidade que sentiamos de conseguir comida barata e de boa qualidade nas proximidades. Pensando nesse caso especifico dos intervalos e nos horarios livres pra suprimos nossa fome, desenvolvemos uma plataforma onde qualquer um pode expor seus itens.
      <p class="w3-large w3-text-grey w3-hide-medium">Logo itens como: </p>lanches caseiros, </p>marmitas, </p>entre outros produtos por um preco muito mais acessivel.
    </div>
  </div>
  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Nossa ideia</h1><br>
      <h4>Qualquer um pode vender</h4>
      <p class="w3-text-grey">Estando nas redondezas você já pode comercializar.</p><br>
    
      <h4>Rápido</h4>
      <p class="w3-text-grey">É so escolher e combinar com o vendedor. </p><br>
    
      <h4>Não depende de Terceiros</h4>
      <p class="w3-text-grey">Preço negociável !</p><br>
    
      <h4>Saudável</h4>
      <p class="w3-text-grey">Cansou de comer salgados gordurosos só para matar a fome?</p><br>
    
      <h4>Mais barato</h4>
      <p class="w3-text-grey">Como não depende de estabelecimento e só depende do vendedor a aquisição acaba ficando bem mais em conta.</p>    
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="https://image.ibb.co/cF47TF/lanche_para_levar_na_praia_665x433.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" width="600" height"800">
    </div>
  </div>

  <hr>
   
    </form>
  </div>
  
<!-- End page content -->
</div>

</footer>

</body>
</html>
