<!DOCTYPE HTML>
<html>
<head>
    <!-- META -->
    <title>Marmitech</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="" />
    <!-- CSS -->
	<strong><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/CSSForAll.css') }}"></strong>
	<strong><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/CSSForAll.css') }}"></strong>
</head>

<body id="body">
  <!--Barra de Navegação-->
  <header>
    <nav>
      <ul>
          <li><a href="/">Início</a></li>
          <li>
          <a href="#"> Cadastro <span class="caret"></span></a>
            <div>
                <ul>
                    <li><a href="/cadastro">Usuario</a></li>
                    <li><a href="/cadastrovend">Vendedor</a></li>
                </ul>
            </div>
          </li>
          <li><a href="Sobre.html"> Sobre</a></li>
          <li><a href="Ajuda.html">Ajuda</a></li>
          <!--Login-->
       <section class="loginform cf">
        <form name="login" action="#" method="POST" accept-charset="utf-8">
        <ul style="width:20;height:10px;margin-left:700px;margin-top:-50px;">
          <li><label for="usermail">Email</label>
          <input type="email" name="usermail" placeholder="seunome@email.com" required></li>
          <li><label for="password">Senha</label>
          <input type="password" name="password" placeholder="senha" required></li>
          <li>
          <input type="submit" value="Login"></li>
         </ul>
        </form>
       </section>
      <!--Fechando a Nav Bar-->
      </ul>
    </nav>
   </header>
  <!--Quadro branco ao centro-->
  <div style="width:90%;height:500px;border:5px solid #EDBC66; margin-left:70px; background: white;">
    <div class="grid"> 
    <!--Imagem Marmitech-->
    <img src="https://preview.ibb.co/mTf4na/THEBEST.png" style="margin-left: 300px; margin-top: 5px;" height="490" width="600">
    </div></div>
<article></article>
<footer></footer>
</body>
</html>