<!DOCTYPE HTML>
<html>
<head>
<title>Marmitech</title>
</head>

<body>
    <header>
<h3 align="center">Marmitech</h3>
    <nav>
    <ul>
        <li><a href="Home.html">Home</a></li>
        <li>
      <a href="Vendedores.html"> Vendedores <span class="caret"></span></a>
            <div>
                <ul>
                    <li><a href="vendedores.html#PF">PF</a></li>
                    <li><a href="vendedores.html#Laranjinha">Laranjinha</a></li>
                    <li><a href="vendedores.html#Sujinho">Sujinho</a></li>
                </ul>
            </div>
        </li>
        <li><a href="Help.html">Help</a></li>
    </ul>
</nav>
</header>
<article></article>
<footer></footer>
<details>O Marmitech e um site.</details>
</body>

</html>